@import url("https://use.typekit.net/vcd1fek.css");
@font-face {
  font-family: "Novaletra Regular";
  src: url("../fonts/NovaletraSerifCF-Regular.woff") format("woff"), url("../fonts/NovaletraSerifCF-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "ff-scala-sc";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ScalaScWeb.woff") format("woff"); }

@font-face {
  font-family: "ff-scala-sans-sc";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ScalaSansScWebPro.woff") format("woff"); }

:root {
  --black: rgba(255, 0, 0, 0.99);
  --black-75: rgba(0, 0, 0, 0.75);
  --black-50: rgba(0, 0, 0, 0.50);
  --black-25: rgba(0, 0, 0, 0.25);
  --black-10: rgba(0, 0, 0, 0.10);
  --soft-black: rgba(36, 30, 28, 1.0);
  --mist: rgba(202, 206, 199, 1.0);
  --paper: rgba(255, 253, 251, 1.0);
  --sand: rgba(242, 237, 227, 1.0);
  --white: rgba(255, 255, 255, 1.0);
  --scala: "ff-scala", serif;
  --scala-sc: "ff-scala-sc", serif;
  --scala-sans: "ff-scala-sans-pro", sans-serif;
  --scala-sans-sc: "ff-scala-sans-sc";
  --novaletra-regular: "Novaletra Regular"; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  width: 100%; }

body {
  height: 100%;
  margin: 0;
  background: var(--sand); }

h1, h2, h3, h4, p, li, time, cite, dt, dl {
  margin: 0;
  font-family: var(--scala);
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: normal;
  color: var(--soft-black); }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: var(--soft-black);
  transition: all ease-in-out 150ms; }

p a {
  border-bottom: 1px solid var(--black-50); }
  p a:hover {
    border-bottom: 2px solid #febb0f; }

img {
  width: 100%;
  height: auto; }

.wrapper {
  width: 100%;
  height: 100vh;
  border-top: 6px solid var(--mist); }
  .wrapper .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; }

a.button {
  padding: .75em 1.6em;
  font-family: var(--scala-sans-sc);
  font-size: 1.1rem;
  text-transform: lowercase;
  letter-spacing: .05em;
  background: #febb0f;
  border-radius: 999em;
  border: none; }
  a.button:hover {
    border: none; }

header[role=banner] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
  border-bottom: 3px double var(--mist); }
  header[role=banner] h1 {
    margin: 0 2em;
    line-height: 1; }
    header[role=banner] h1 span {
      display: none; }
    header[role=banner] h1 a {
      margin: 0;
      padding: 0; }
      header[role=banner] h1 a svg {
        width: 56px; }
  header[role=banner] nav {
    width: 100%; }
    header[role=banner] nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      header[role=banner] nav ul li {
        margin: 0 2em;
        font-family: var(--scala-sans-sc);
        text-transform: lowercase;
        letter-spacing: .10em;
        line-height: 1; }
        header[role=banner] nav ul li a {
          color: rgba(36, 30, 28, 0.5); }
          header[role=banner] nav ul li a:hover, header[role=banner] nav ul li a.active {
            color: #241e1c; }

footer[role=footer] {
  display: flex;
  flex-direction: row;
  padding: 1em 0;
  border-top: 3px double var(--mist); }
  footer[role=footer] article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5em 0; }
    footer[role=footer] article:first-child {
      border-right: 3px double var(--mist); }
    footer[role=footer] article h2 {
      line-height: 1; }
    footer[role=footer] article h3 {
      font-family: var(--scala-sans-sc);
      text-transform: lowercase;
      letter-spacing: .10em; }
    footer[role=footer] article nav {
      margin: 1em 0; }
      footer[role=footer] article nav ul {
        display: flex;
        flex-direction: row; }
        footer[role=footer] article nav ul li {
          display: flex;
          align-items: center;
          align-content: center;
          margin: 0 .5em;
          line-height: 1;
          font-family: var(--scala-sans); }
          footer[role=footer] article nav ul li a {
            color: rgba(36, 30, 28, 0.5); }
            footer[role=footer] article nav ul li a svg {
              fill: rgba(36, 30, 28, 0.5);
              transition: all ease-in-out 150ms; }
            footer[role=footer] article nav ul li a:hover {
              color: #241e1c; }
            footer[role=footer] article nav ul li a:hover svg {
              fill: #241e1c; }
    footer[role=footer] article p {
      line-height: 1;
      font-size: 1rem;
      font-family: var(--scala-sans);
      color: rgba(36, 30, 28, 0.5); }

.introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 3px double var(--mist); }
  .introduction article {
    width: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 2em 0;
    padding: 8em; }
    .introduction article:first-child {
      border-right: 3px double var(--mist); }
    .introduction article h2 {
      font-family: var(--novaletra-regular);
      font-size: 2rem;
      text-align: center; }
    .introduction article p {
      text-align: center; }
      .introduction article p em {
        font-family: var(--scala-sans-sc);
        text-transform: lowercase;
        letter-spacing: .10em;
        font-style: normal; }

.feature-block {
  display: flex;
  flex-direction: row;
  padding: 1em;
  border-bottom: 3px double var(--mist); }
  .feature-block .feature {
    width: 100%;
    margin: 2em;
    padding: 2em 2em 0 2em;
    background: #cacec7;
    background: linear-gradient(180deg, #cacec7 50%, rgba(255, 255, 255, 0) 40%); }
    .feature-block .feature h3 {
      margin: 0 0 1em 0;
      font-family: var(--scala-sans-sc);
      text-transform: lowercase;
      letter-spacing: .10em;
      text-align: center; }
    .feature-block .feature img {
      width: 100%;
      margin: 0 auto 1em;
      box-shadow: 0 1em 1em rgba(0, 0, 0, 0.15); }
    .feature-block .feature p {
      width: 100%;
      text-align: center; }

.cta-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-bottom: 3px double var(--mist); }

.page-header {
  display: flex;
  flex-direction: column;
  padding: 4em;
  border-bottom: 3px double var(--mist); }
  .page-header h2 {
    font-family: var(--novaletra-regular);
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .25em;
    text-align: center;
    line-height: 1; }

.tastemaker-block {
  display: flex;
  flex-direction: column;
  padding: 4em 2em;
  border-bottom: 3px double var(--mist); }
  .tastemaker-block header {
    margin: 0 0 2em 0; }
    .tastemaker-block header h2 {
      font-family: var(--scala-sans-sc);
      text-transform: lowercase;
      letter-spacing: .10em;
      text-align: center; }
      .tastemaker-block header h2:after {
        content: "";
        display: block;
        width: 6em;
        height: 1px;
        margin: 2em auto 0;
        background: rgba(36, 30, 28, 0.5); }
  .tastemaker-block .tastemakers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em 0; }
    .tastemaker-block .tastemakers .tastemaker {
      max-width: 10em;
      margin: 0 1em; }
      .tastemaker-block .tastemakers .tastemaker img {
        width: 100%;
        height: auto;
        margin: 0 0 1em 0; }
      .tastemaker-block .tastemakers .tastemaker h3 {
        font-family: var(--scala-sans);
        text-align: center; }
      .tastemaker-block .tastemakers .tastemaker p {
        text-align: center;
        font-style: italic;
        color: rgba(36, 30, 28, 0.55); }
      .tastemaker-block .tastemakers .tastemaker p.pill {
        margin: .5em 0 0 0;
        padding: .15em .5em 0;
        font-family: var(--scala-sans-sc);
        font-style: normal;
        font-size: .9rem;
        text-transform: lowercase;
        letter-spacing: .05em;
        background: #7345D7;
        border-radius: 999em;
        color: var(--paper); }
      .tastemaker-block .tastemakers .tastemaker ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1em 0 0 0; }
        .tastemaker-block .tastemakers .tastemaker ul li {
          display: flex;
          align-items: center;
          align-content: center;
          margin: 0 .5em;
          line-height: 1;
          font-family: var(--scala-sans); }
          .tastemaker-block .tastemakers .tastemaker ul li a {
            color: rgba(36, 30, 28, 0.5); }
            .tastemaker-block .tastemakers .tastemaker ul li a svg {
              fill: rgba(36, 30, 28, 0.5);
              transition: all ease-in-out 150ms; }
            .tastemaker-block .tastemakers .tastemaker ul li a:hover {
              color: #241e1c; }
            .tastemaker-block .tastemakers .tastemaker ul li a:hover svg {
              fill: #241e1c; }

.press {
  display: flex;
  flex-direction: column;
  padding: 4em 2em; }
  .press header {
    margin: 0 0 2em 0; }
    .press header h2 {
      font-family: var(--scala-sans-sc);
      text-transform: lowercase;
      letter-spacing: .10em;
      text-align: center; }
      .press header h2:after {
        content: "";
        display: block;
        width: 6em;
        height: 1px;
        margin: 2em auto 0;
        background: rgba(36, 30, 28, 0.5); }
  .press ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .press ul li {
      margin: 0 2em; }
      .press ul li a {
        opacity: 0.75; }
        .press ul li a img {
          width: 5em; }
          .press ul li a img.bi {
            width: 8em; }
          .press ul li a img.tf {
            width: 9em; }
        .press ul li a:hover {
          opacity: 1.0; }

.quotes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em 1em;
  border-top: 3px double var(--mist); }
  .quotes article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 1em;
    padding: 2em;
    background: var(--paper); }
    .quotes article.zoranne {
      border-top: 4px solid #E022D9; }
    .quotes article.kathrynbudig {
      border-top: 4px solid #72A140; }
    .quotes article.justali {
      border-top: 4px solid #7345D7; }
    .quotes article p {
      margin: 0 0 1em 0;
      font-size: 1.3rem; }
    .quotes article footer {
      display: flex;
      flex-direction: row; }
      .quotes article footer ul {
        display: flex;
        flex-direction: row;
        width: 100%; }
        .quotes article footer ul li {
          width: 50%;
          height: 24px;
          font-family: var(--scala-sans);
          font-size: 1rem;
          line-height: 24px; }
        .quotes article footer ul svg {
          float: right;
          width: 24px;
          height: 24px;
          fill: rgba(36, 30, 28, 0.5);
          transition: all ease-in-out 150ms; }
        .quotes article footer ul a {
          color: rgba(36, 30, 28, 0.5); }

.features {
  display: flex;
  flex-direction: column;
  padding: 4em 6em;
  background: var(--sand) !important; }
  .features .feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3em 0; }
    .features .feature .text {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 2em; }
      .features .feature .text h3 {
        max-width: 24em;
        margin: 0 0 .5em 0;
        font-family: var(--scala-sans);
        font-size: 1.5rem; }
      .features .feature .text p {
        max-width: 24em; }
      .features .feature .text p.earn-statement {
        margin: 1em 0;
        padding-left: .5em;
        line-height: 1.35;
        border-left: 4px solid #72A140; }
        .features .feature .text p.earn-statement strong {
          display: block;
          font-weight: 600;
          color: #72A140; }
    .features .feature .visual {
      width: 100%;
      margin: 0; }
      .features .feature .visual img {
        max-width: 32em;
        height: auto !important;
        margin: 0; }

.earnings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 2em;
  background: var(--mist); }
  .earnings header {
    margin: 0 0 2em 0; }
    .earnings header h2 {
      font-family: var(--scala-sans-sc);
      text-transform: lowercase;
      letter-spacing: .10em;
      text-align: center; }
      .earnings header h2:after {
        content: "";
        display: block;
        width: 6em;
        height: 1px;
        margin: 2em auto 0;
        background: rgba(36, 30, 28, 0.5); }
  .earnings p.intro {
    max-width: 42em;
    text-align: left; }

.impact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 2em;
  background: var(--soft-black); }
  .impact header {
    margin: 0 0 2em 0; }
    .impact header h2 {
      font-family: var(--scala-sans-sc);
      text-transform: lowercase;
      letter-spacing: .10em;
      text-align: center;
      color: var(--paper); }
      .impact header h2:after {
        content: "";
        display: block;
        width: 6em;
        height: 1px;
        margin: 2em auto 0;
        background: rgba(255, 255, 255, 0.25); }
  .impact .stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .impact .stats article {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 2em; }
      .impact .stats article h3 {
        font-family: var(--scala-sans);
        font-size: 3.6rem;
        color: var(--paper);
        text-align: center;
        line-height: 1; }
        .impact .stats article h3 em {
          font-size: 2rem;
          font-style: normal;
          color: rgba(255, 253, 251, 0.35); }
      .impact .stats article p {
        max-width: 16em;
        margin: 1.6em auto;
        color: rgba(255, 253, 251, 0.75);
        text-align: center; }
      .impact .stats article small {
        font-family: var(--scala);
        font-style: italic;
        color: var(--paper);
        text-align: center; }
        .impact .stats article small a {
          color: rgba(255, 253, 251, 0.75); }

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em; }
  .intro p {
    max-width: 32em;
    margin: 0 0 1em 0; }

.how {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 2em;
  background: var(--mist); }
  .how header {
    margin: 0 0 2em 0; }
    .how header h2 {
      font-family: var(--scala-sans-sc);
      text-transform: lowercase;
      letter-spacing: .10em;
      text-align: center; }
      .how header h2:after {
        content: "";
        display: block;
        width: 6em;
        height: 1px;
        margin: 2em auto 0;
        background: rgba(36, 30, 28, 0.5); }
  .how .points {
    display: flex;
    flex-direction: column; }
    .how .points .point {
      display: flex;
      flex-direction: row;
      max-width: 48em;
      margin: 2em; }
      .how .points .point img {
        width: 10em;
        height: 10em;
        margin: 0 2em 0 0; }
      .how .points .point .text h3 {
        font-family: var(--scala-sans);
        font-size: 1.5rem; }
      .how .points .point .text p {
        margin: .5em 0 0 0; }

.collaboration {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 2em;
  background: var(--paper); }
  .collaboration header {
    margin: 0 0 2em 0; }
    .collaboration header h2 {
      font-family: var(--scala-sans-sc);
      text-transform: lowercase;
      letter-spacing: .10em;
      text-align: center; }
      .collaboration header h2:after {
        content: "";
        display: block;
        width: 6em;
        height: 1px;
        margin: 2em auto 0;
        background: rgba(36, 30, 28, 0.5); }
  .collaboration .phases {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
    .collaboration .phases article {
      width: 100%;
      margin: 2em; }
      .collaboration .phases article h3 {
        margin: 0 0 2em 0;
        font-family: var(--scala-sans);
        text-align: center; }
      .collaboration .phases article ul {
        display: flex;
        flex-direction: column; }
        .collaboration .phases article ul li {
          display: flex;
          align-items: center;
          min-height: 7em;
          padding: .5em 0;
          font-family: var(--scala-sans);
          font-size: 1.1rem;
          color: rgba(36, 30, 28, 0.55);
          border-bottom: 1px solid rgba(36, 30, 28, 0.15); }
          .collaboration .phases article ul li:last-child {
            border: none; }
          .collaboration .phases article ul li .pill {
            margin: auto;
            padding: .5em 1.6em;
            font-family: var(--scala-sans-sc);
            font-style: normal;
            text-transform: lowercase;
            font-size: 1rem;
            color: #241e1c;
            line-height: 1;
            text-align: center;
            border-radius: 999em; }
            .collaboration .phases article ul li .pill.acquisition {
              background: #8C2711;
              color: var(--paper); }
            .collaboration .phases article ul li .pill.production {
              background: #7345D7;
              color: var(--paper); }
            .collaboration .phases article ul li .pill.printing {
              background: #E022D9;
              color: var(--paper); }
            .collaboration .phases article ul li .pill.sales {
              background: #72A140;
              color: var(--paper); }
            .collaboration .phases article ul li .pill.mobile {
              display: none; }

.submissions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 2em; }
  .submissions header {
    margin: 0 0 2em 0; }
    .submissions header h2 {
      font-family: var(--scala-sans-sc);
      text-transform: lowercase;
      letter-spacing: .10em;
      text-align: center; }
      .submissions header h2:after {
        content: "";
        display: block;
        width: 6em;
        height: 1px;
        margin: 2em auto 0;
        background: rgba(36, 30, 28, 0.5); }
  .submissions article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0; }
    .submissions article p {
      max-width: 32em;
      margin: 0 0 1em 0; }

.team {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
  padding: 4em 0; }
  .team .members {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .team .members article {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0 1em; }
      .team .members article:first-child {
        margin-left: 0; }
      .team .members article:last-child {
        margin-right: 0; }
      .team .members article img {
        margin: 0 0 1em 0; }
      .team .members article h3 {
        font-family: var(--scala-sans); }
      .team .members article h4 {
        margin: 0 0 1em 0;
        font-family: var(--scala-sans);
        color: rgba(36, 30, 28, 0.5); }
      .team .members article p {
        font-size: 1rem; }
  .team .support {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 0 0 0;
    padding: 2em 0 0 0;
    border-top: 1px solid var(--mist); }
    .team .support article {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 0 1em; }
      .team .support article:first-child {
        margin-left: 0; }
      .team .support article:last-child {
        margin-right: 0; }
      .team .support article img {
        max-width: 9em;
        height: 9em;
        margin: 0 2em 0 0; }
      .team .support article p {
        font-size: 1rem; }

.philosophy {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 2em;
  background: var(--mist); }
  .philosophy header {
    margin: 0 0 2em 0; }
    .philosophy header h2 {
      font-family: var(--scala-sans-sc);
      text-transform: lowercase;
      letter-spacing: .10em;
      text-align: center; }
      .philosophy header h2:after {
        content: "";
        display: block;
        width: 6em;
        height: 1px;
        margin: 2em auto 0;
        background: rgba(36, 30, 28, 0.5); }
  .philosophy .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 0; }
    .philosophy .columns article {
      margin: 0 2em;
      max-width: 32em; }
      .philosophy .columns article p {
        margin: 0 0 1em 0; }

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em; }
  .board header {
    margin: 0 0 2em 0; }
    .board header h2 {
      font-family: var(--scala-sans-sc);
      text-transform: lowercase;
      letter-spacing: .10em;
      text-align: center; }
      .board header h2:after {
        content: "";
        display: block;
        width: 6em;
        height: 1px;
        margin: 2em auto 0;
        background: rgba(36, 30, 28, 0.5); }
  .board .boarders {
    max-width: 50em;
    display: flex;
    flex-direction: column; }
    .board .boarders article {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 1em 0;
      border-bottom: 1px solid var(--mist); }
      .board .boarders article img {
        width: 6em;
        height: 6em;
        margin: 0 2em 0 0; }
      .board .boarders article .bio h3 {
        font-family: var(--scala-sans);
        width: 100%; }
      .board .boarders article .bio p {
        width: 100%; }
  .board .baukunst {
    display: flex;
    flex-direction: row;
    max-width: 50em;
    margin: 0;
    padding: 1em 0;
    text-align: left; }
    .board .baukunst img {
      width: 6em;
      height: 6em;
      margin: 0 2em 0 0; }
    .board .baukunst p {
      margin: 0; }
      .board .baukunst p em {
        font-style: normal;
        font-family: var(--scala-sc);
        text-transform: lowercase;
        font-size: 1.5rem;
        letter-spacing: .10em; }

.contact {
  max-width: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 4em 2em; }
  .contact article {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    border-bottom: 1px solid var(--mist); }
    .contact article:last-child {
      border: none; }
    .contact article h3 {
      margin: 0 0 .5em 0;
      font-family: var(--scala-sans);
      font-size: 1.4rem; }
    .contact article p {
      margin: 0 0 1em 0; }

.privacy,
.terms {
  display: flex;
  flex-direction: column;
  max-width: 48em;
  margin: 4em auto; }
  .privacy p,
  .terms p {
    margin: 0 0 1em 0; }
  .privacy ul,
  .terms ul {
    margin: 0 0 1em 0;
    list-style-type: disc;
    list-style-position: outside; }
    .privacy ul li,
    .terms ul li {
      margin: .5em 0; }

.faq {
  display: flex;
  flex-direction: column;
  max-width: 48em;
  justify-content: center;
  margin: auto;
  padding: 4em 2em; }
  .faq h2 {
    margin: 1em 0 1em 0;
    font-family: var(--scala-sans);
    font-size: 1.6rem; }
  .faq h3 {
    margin: 1em 0 1em 0;
    font-family: var(--scala-sans);
    font-size: 1.4rem; }
  .faq p {
    margin: 0 0 1em 0;
    color: var(--black-75); }
  .faq p.cta {
    margin: 1em 0; }
  .faq ul {
    list-style-type: disc; }
    .faq ul li {
      margin: 0 0 1em 0; }

.guidelines {
  display: flex;
  flex-direction: column;
  max-width: 48em;
  justify-content: center;
  margin: auto;
  padding: 4em 2em; }
  .guidelines h3 {
    margin: 1em 0 1em 0;
    font-family: var(--scala-sans);
    font-size: 1.4rem; }
  .guidelines p {
    margin: 0 0 1em 0;
    color: var(--black-75); }

@media (max-width: 560px) {
  .wrapper {
    width: 100%; }
    .wrapper .container {
      width: 100%; }
  header[role=banner] {
    flex-direction: column;
    padding: 1em 0; }
    header[role=banner] nav ul {
      flex-direction: column;
      align-items: center; }
      header[role=banner] nav ul li {
        margin: .5em 0; }
    header[role=banner] h1 {
      margin: 1em 0; }
  .introduction {
    flex-direction: column; }
    .introduction article {
      margin: 0;
      padding: 3em;
      border: none !important; }
      .introduction article:first-child {
        padding-bottom: 0; }
  .feature-block {
    flex-direction: column;
    padding: 0; }
    .feature-block .feature {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 2em 1em; }
      .feature-block .feature h3 {
        margin: 0 0 1em 0; }
      .feature-block .feature img {
        max-width: 300px; }
      .feature-block .feature p {
        text-align: center; }
  .tastemaker-block {
    display: flex;
    flex-direction: column;
    padding: 2em 1em; }
    .tastemaker-block .tastemakers {
      flex-wrap: wrap;
      padding: 0; }
      .tastemaker-block .tastemakers:nth-child(2n) {
        flex-basis: 50%; }
      .tastemaker-block .tastemakers .tastemaker {
        width: 50%;
        margin: 0;
        padding: 1em; }
        .tastemaker-block .tastemakers .tastemaker p {
          font-size: 1rem; }
  footer[role=footer] {
    flex-direction: column;
    padding: 1em 0; }
    footer[role=footer] article {
      padding: 2em 0; }
      footer[role=footer] article:first-child {
        border-right: none; }
      footer[role=footer] article .utility ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0; }
        footer[role=footer] article .utility ul li {
          margin: .5em 0; }
  .team {
    margin: 0;
    padding: 2em; }
    .team p.intro {
      padding: 2em 0; }
    .team .members {
      display: flex;
      flex-direction: column; }
      .team .members article {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 0 2em 0; }
        .team .members article h4 {
          margin: 0 0 .5em 0; }
    .team .support {
      flex-direction: column;
      margin: 0;
      padding: 2em 0 0 0;
      border-top: 1px solid var(--mist); }
      .team .support article {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 0 2em 0; }
        .team .support article img {
          width: 100%;
          margin: 0 0 1em 0; }
  .board {
    padding: 2em; }
    .board .boarders {
      width: 100%; }
      .board .boarders article {
        flex-direction: column;
        padding: 1em 0;
        border-bottom: 1px solid var(--mist); }
        .board .boarders article img {
          width: 100%;
          height: auto;
          margin: 0 0 1em 0; }
        .board .boarders article .bio p {
          width: 100%;
          font-size: 1rem; }
  .baukunst {
    flex-direction: column !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 1em 0em !important;
    text-align: left; }
    .baukunst img {
      width: 100% !important;
      height: auto !important;
      margin: 0 0 1em 0 !important; }
    .baukunst p {
      width: 100% !important;
      margin: 0 !important;
      font-size: 1rem; }
  .philosophy {
    display: flex;
    flex-direction: column;
    padding: 2em; }
    .philosophy .columns {
      flex-direction: column;
      padding: 0; }
      .philosophy .columns article {
        margin: 0;
        max-width: 100%; }
  .features {
    padding: 1em; }
    .features .feature {
      flex-direction: column;
      margin: 0;
      padding: 0; }
      .features .feature .text {
        margin: 0;
        padding: 2em 0; }
        .features .feature .text p {
          max-width: 100%; }
      .features .feature .visual {
        display: flex;
        width: 100%;
        min-height: 100%;
        margin: 0; }
  .earnings {
    padding: 2em; }
    .earnings p.intro {
      max-width: 100%;
      padding: 2em 0; }
    .earnings .earnings-data {
      display: flex;
      flex-direction: column; }
      .earnings .earnings-data article {
        max-width: 100%;
        margin: 2em 0; }
        .earnings .earnings-data article figure {
          margin: 1em 0 0 0;
          padding: 0; }
          .earnings .earnings-data article figure img {
            max-width: 100%; }
  .impact {
    padding: 2em; }
    .impact .stats {
      width: 100%;
      flex-direction: column; }
      .impact .stats article {
        width: 100%;
        margin: 2em 0; }
        .impact .stats article p {
          max-width: 100%;
          margin: 1em auto; }
  .intro {
    padding: 2em; }
    .intro p {
      max-width: 100%; }
  .how {
    padding: 2em 1em;
    background: var(--mist); }
    .how .points {
      display: flex;
      flex-direction: column; }
      .how .points .point {
        flex-direction: column;
        max-width: 100%;
        margin: 1em; }
        .how .points .point img {
          width: 10em;
          height: 10em;
          margin: 0 auto 1em; }
  .collaboration {
    padding: 2em; }
    .collaboration .phases {
      display: flex;
      flex-direction: column; }
      .collaboration .phases article {
        margin: 0;
        padding-top: 2em;
        border-bottom: 3px double var(--mist); }
        .collaboration .phases article:last-child {
          border: none; }
        .collaboration .phases article h3 {
          margin: 0 0 1em 0; }
        .collaboration .phases article ul {
          display: flex;
          flex-direction: column; }
          .collaboration .phases article ul li {
            display: flex;
            flex-direction: column;
            min-height: auto;
            padding: 1em 0; }
            .collaboration .phases article ul li .pill.mobile {
              display: block;
              margin: 0 0 1em 0;
              padding: .4em .75em .25em .75em;
              font-size: .9rem; }
        .collaboration .phases article.desktop {
          display: none; }
  .quotes {
    flex-direction: column;
    padding: 2em; }
    .quotes article {
      margin: 1em 0;
      padding: 1em; }
  .press {
    padding: 2em; }
    .press header {
      margin: 0 0 2em 0; }
      .press header h2:after {
        margin: 1em auto 0; }
    .press ul {
      flex-direction: column; }
      .press ul li {
        margin: 1em 0; } }
